In [23]:
import pandas as pd
from spmfunctions import *

In [2]:
ic = read_int_cfg('../intersections/sh-55 & banks-lowman/configuration')
ic

c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\read_data.py:152: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  df_cfg.columns = pd.to_datetime(df_cfg.columns, errors='ignore')

KeyError: 'WD:'

In [27]:
df_directory = '../intersections/sh-55 & banks-lowman/data/dataframes'
date_range = '2025_11_24-2025_11_25'
transforms=[(comb_gyr_det, {})]
#transforms=None
df = read_and_process_pickles(df_directory, date_range, transforms).drop_duplicates()

In [30]:
dts = df[(df.Code.isin([82]))&(df.ID==58)].TS_start.unique()
df[(df.Code.isin([82]))&(df.TS_start.isin(dts))]

,TS_start,Code,ID,Cycle_start,Coord_plan,TS_end,t_cs,t_ce,Duration,Det_Status,Split,Ph_Status,Ol_Status,Cycle_len
86376,2025-11-24 12:26:16.100,82,34,2025-11-24 12:26:02.600,1.0,2025-11-24 12:26:20.100,13.5,17.5,4.0,On,NaN,NaN,NaN,69.3
86378,2025-11-24 12:26:16.100,82,35,2025-11-24 12:26:02.600,1.0,2025-11-24 12:26:20.100,13.5,17.5,4.0,On,NaN,NaN,NaN,69.3
86380,2025-11-24 12:26:16.100,82,58,2025-11-24 12:26:02.600,1.0,2025-11-24 12:26:20.200,13.5,17.6,4.1,On,NaN,NaN,NaN,69.3
86390,2025-11-24 12:26:39.500,82,34,2025-11-24 12:26:02.600,1.0,2025-11-24 12:26:42.500,36.9,39.9,3.0,On,NaN,NaN,NaN,69.3
86392,2025-11-24 12:26:39.500,82,35,2025-11-24 12:26:02.600,1.0,2025-11-24 12:26:42.500,36.9,39.9,3.0,On,NaN,NaN,NaN,69.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150243,2025-11-24 22:22:13.900,82,58,2025-11-24 22:18:48.200,1.0,2025-11-24 22:28:46.900,205.7,598.7,393.0,On,NaN,NaN,NaN,794.7
150434,2025-11-24 22:46:24.400,82,34,2025-11-24 22:40:09.100,1.0,2025-11-24 22:46:26.400,375.3,377.3,2.0,On,NaN,NaN,NaN,1120.3
150435,2025-11-24 22:46:24.400,82,35,2025-11-24 22:40:09.100,1.0,2025-11-24 22:46:26.400,375.3,377.3,2.0,On,NaN,NaN,NaN,1120.3
150436,2025-11-24 22:46:24.400,82,36,2025-11-24 22:40:09.100,1.0,2025-11-24 22:46:26.400,375.3,377.3,2.0,On,NaN,NaN,NaN,1120.3
150437,2025-11-24 22:46:24.400,82,58,2025-11-24 22:40:09.100,1.0,2025-11-24 22:46:26.400,375.3,377.3,2.0,On,NaN,NaN,NaN,1120.3

In [18]:
#df[(df.Code==82)&(df.ID.isin([35,36]))].sort_values("Duration", ascending=False)
df[(df.Code==82)&(df.ID.isin([62,63,64]))].sort_values("Duration", ascending=False)

,TS_start,Code,ID,Cycle_start,Coord_plan,TS_end,t_cs,t_ce,Duration,Det_Status,Split,Ph_Status,Ol_Status,Cycle_len
820745,2025-08-06 03:47:13.800,82,64,2025-08-06 03:44:53.100,1.0,2025-08-06 05:28:22.200,140.7,6209.1,6068.4,On,NaN,NaN,NaN,198.9
821370,2025-08-06 04:17:02.500,82,63,2025-08-06 04:16:28.900,1.0,2025-08-06 05:28:16.300,33.6,4307.4,4273.8,On,NaN,NaN,NaN,198.9
826394,2025-08-06 07:09:39.200,82,64,2025-08-06 07:08:16.500,1.0,2025-08-06 07:36:08.400,82.7,1671.9,1589.2,On,NaN,NaN,NaN,261.0
823862,2025-08-06 06:02:16.300,82,63,2025-08-06 05:57:48.600,1.0,2025-08-06 06:28:15.900,267.7,1827.3,1559.6,On,NaN,NaN,NaN,420.4
823038,2025-08-06 05:33:21.400,82,64,2025-08-06 05:32:50.000,1.0,2025-08-06 05:57:35.900,31.4,1485.9,1454.5,On,NaN,NaN,NaN,188.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514920,2025-08-03 16:13:46.000,82,63,2025-08-03 16:12:17.200,1.0,2025-08-03 16:13:46.100,88.8,88.9,0.1,On,NaN,NaN,NaN,130.9
1393444,2025-08-10 12:56:36.400,82,63,2025-08-10 12:56:35.700,1.0,2025-08-10 12:56:36.500,0.7,0.8,0.1,On,NaN,NaN,NaN,163.2
5326845,2025-09-26 10:46:12.600,82,63,2025-09-26 10:41:29.300,1.0,2025-09-26 10:46:12.700,283.3,283.4,0.1,On,NaN,NaN,NaN,381.9
6709158,2025-10-29 09:18:53.400,82,64,2025-10-29 09:17:39.700,1.0,2025-10-29 09:18:53.500,73.7,73.8,0.1,On,NaN,NaN,NaN,88.9
4948466,2025-09-20 17:51:50.400,82,63,2025-09-20 17:51:33.700,0.0,2025-09-20 17:51:50.500,16.7,16.8,0.1,On,NaN,NaN,NaN,38.8

In [22]:
df[df.Code==81].ID.sort_values().unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 55, 60,
       61, 63, 64])

In [ ]:

aog2 = arrival_on_green(df, [49], 2)
aog6 = arrival_on_green(df, [36], 6)
aog4 = arrival_on_green(df, [42], 4)
aog7 = arrival_on_green(df, [42], 7)
aog8 = arrival_on_green(df, [53], 8)

print(aog2.G.sum()/aog2.Cycle_len.sum())
print(aog6.G.sum()/aog6.Cycle_len.sum())
print(aog4.G.sum()/aog4.Cycle_len.sum())
print(aog7.G.sum()/aog7.Cycle_len.sum())
print(aog8.G.sum()/aog8.Cycle_len.sum())

In [2]:
df_directory = '../intersections/sh-55 & banks-lowman/data/dataframes'
date_range = '2025_08_01-2025_11_10'
df = read_and_process_pickles(df_directory, date_range, transforms=None)

In [6]:
df[df.Code.isin([200,201])]

                        TS_start  Code  ID             Cycle_start  Coord_plan
5627548  2025-09-01 19:29:17.100   200   1 2025-09-01 17:56:03.500         0.0
5628999  2025-09-01 19:37:22.800   201   1 2025-09-01 19:37:17.000         0.0
5629001  2025-09-01 19:37:23.100   200   1 2025-09-01 19:37:17.000         0.0
5629009  2025-09-01 19:37:31.500   201   1 2025-09-01 19:37:17.000         0.0
5629012  2025-09-01 19:37:32.700   200   1 2025-09-01 19:37:17.000         0.0
5629021  2025-09-01 19:37:41.000   201   1 2025-09-01 19:37:17.000         0.0
5629023  2025-09-01 19:37:44.600   200   1 2025-09-01 19:37:17.000         0.0
5629024  2025-09-01 19:37:44.900   201   1 2025-09-01 19:37:17.000         0.0
5629040  2025-09-01 19:37:47.300   200   1 2025-09-01 19:37:17.000         0.0
5629041  2025-09-01 19:37:47.500   201   1 2025-09-01 19:37:17.000         0.0
6110385  2025-09-04 13:22:44.700   200   1 2025-09-04 13:22:33.600         1.0
6111118  2025-09-04 13:26:49.500   201   1 2025-09-04 13:26:12.900         1.0
10009212 2025-10-02 07:19:10.500   200   1 2025-10-02 07:18:09.300         1.0
10009291 2025-10-02 07:20:13.400   201   1 2025-10-02 07:18:09.300         1.0
10759277 2025-10-21 12:02:33.800   200   1 2025-10-21 12:02:32.300         0.0
10759941 2025-10-21 12:07:50.100   201   1 2025-10-21 12:07:35.100         0.0
12104248 2025-11-10 08:17:24.300   200   1 2025-11-10 08:15:40.200         1.0
12104709 2025-11-10 08:21:24.900   201   1 2025-11-10 08:21:08.800         1.0
12130302 2025-11-10 13:13:50.400   200   1 2025-11-10 13:13:04.000         1.0
12137031 2025-11-10 14:19:27.800   201   1 2025-11-10 14:18:01.200         1.0

In [2]:
df_directory = 'C:/Users/rhansen/Documents/Python/SPMs/Intersections/Franklin & Smeed/Data/DataFrames'
date_range = '2025_10_30'
df = read_and_process_pickles(df_directory, date_range)

In [8]:
df2=df.loc[:,['TS_start', 'Code', 'ID']].copy()
df2.to_pickle('C:/Users/rhansen/Documents/Python/SPMs/Intersections/Franklin & Smeed/Data/2025_10_30_Codes_IDs_comp.pkl', compression='bz2')

In [10]:
df3=pd.read_pickle('C:/Users/rhansen/Documents/Python/SPMs/Intersections/Franklin & Smeed/Data/2025_10_30_Codes_IDs_comp.pkl', compression='bz2')

        TS_start  Code    ID
0           True  True  True
1           True  True  True
2           True  True  True
3           True  True  True
4           True  True  True
...          ...   ...   ...
404367      True  True  True
404368      True  True  True
404369      True  True  True
404370      True  True  True
404371      True  True  True

[404372 rows x 3 columns]

In [2]:
df_directory = 'C:/Users/rhansen/Documents/Python/SPMs/Intersections/Franklin & Ward/Data/DataFrames'
date_range = '2025_10_30'
transforms = [(comb_gyr_det, {}), (phase_status, {}), (detector_status, {})]
transforms=[(comb_gyr_det, {})]
df = read_and_process_pickles(df_directory, date_range,transforms)

#df_cl = add_cyc_len(df)
aog = arrival_on_green(df, [54,55,56], 2)
aog = arrival_on_green(df, [38,39,40], 6)
aog.loc[:,'AoG_G'] = (aog.AoG_pct/aog.G_pct)

aog.AoG_G.mean()

c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:184: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:184: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)

np.float64(0.995804454519289)

In [3]:
aog.head()

,Cycle_len,G,G_pct,Total,AoG,AoG_pct,Phase,Coord_plan,Cycle_start,AoG_G
1.0,222.6,203.1,0.912399,3.0,3.0,1.0,6,100.0,2025-10-30 00:02:47.800,1.096012
7.0,480.6,460.7,0.958593,3.0,3.0,1.0,6,100.0,2025-10-30 00:06:30.400,1.043195
13.0,78.5,59.0,0.751592,3.0,3.0,1.0,6,100.0,2025-10-30 00:14:31.000,1.330508
22.0,593.7,553.8,0.932794,2.0,2.0,1.0,6,100.0,2025-10-30 00:15:49.500,1.072048
NaN,29.5,10.0,0.338983,NaN,NaN,0.0,6,NaN,2025-10-30 00:25:43.200,0.000000

In [3]:
res = dict()

int_dates = [('Aviation', ['2025_10_09', '2025_10_20']), 
                  ('Ward', ['2025_10_09', '2025_10_20']), 
                  ('Smeed', ['2025_08_25', '2025_10_20']),
                  ('KCID', ['2025_10_09', '2025_10_16'])]

int_dates = [('Ward', ['2025_10_22', '2025_11_18']), 
                  ('KCID', ['2025_10_22', '2025_11_18']),
                  ('Smeed', ['2025_10_22', '2025_11_18']),
                  ('Aviation', ['2025_10_22', '2025_11_18'])]

tt=0

df_bin = pd.DataFrame()

for cs, dates in int_dates:
    
    for date in dates:
        df_directory = f'C:/Users/rhansen/Documents/Python/SPMs/Intersections/Franklin & {cs}/Data/DataFrames'
        date_range = date
        transforms=[(comb_gyr_det, {})]
        df = read_and_process_pickles(df_directory, date_range,transforms)
        df = filter_time(df, '6:30', '19:00', dt_col='Cycle_start')
        for ph, dets in (2,[54,55,56]), (6,[38,39,40]):
            aog = arrival_on_green(df, dets, ph, tt=tt)
            aog_bin = bin_AOG(aog, bin_len=120)
            df_bin = pd.concat([df_bin, aog_bin.assign(Intersection=cs,Phase=ph)], ignore_index=True)
            df_bin.loc[:, 'Platoon_ratio'] = df_bin.AoG_pct / df_bin.G_pct
            #aog.loc[:,'AoG_G'] = (aog.AoG_pct/aog.G_pct)
            res[(cs, date, ph)] = {
                'AoG_pct_mean': aog.AoG.sum()/aog.Total.sum(),
                'AoG_G_mean': (aog.AoG.sum()/aog.Total.sum())/(aog.G.sum()/aog.Cycle_len.sum()),
                'AoG_total': aog.AoG.sum(),
                'Arr_total': aog.Total.sum()
            }

c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\misc_tools.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_comb.ffill(inplace=True)
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()
c:\Users\rhansen\Documents\Python\SPMs\Notebooks\spmfunctions\moes.py:64: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_bin = df_bin.resample(f'{bin_len}T').sum()

In [4]:
df_bin

,Time,Phase,Coord_plan,G,G_pct,Total,AoG,AoG_pct,Intersection,Platoon_ratio
0,2025-10-22 06:00:00,2,11.0,3083.2,0.579462,841.0,691.0,0.821641,Ward,1.417938
1,2025-10-22 08:00:00,2,11.0,4772.1,0.655202,785.0,694.0,0.884076,Ward,1.349318
2,2025-10-22 10:00:00,2,11.0,4942.5,0.695431,587.0,535.0,0.911414,Ward,1.310574
3,2025-10-22 12:00:00,2,11.0,4584.1,0.635850,635.0,553.0,0.870866,Ward,1.369609
4,2025-10-22 14:00:00,2,11.0,4148.1,0.569700,895.0,751.0,0.839106,Ward,1.472891
...,...,...,...,...,...,...,...,...,...,...
131,2025-11-18 12:00:00,6,11.0,2738.4,0.380228,1003.0,343.0,0.341974,Aviation,0.899393
132,2025-11-18 14:00:00,6,11.0,2578.1,0.357950,1101.0,409.0,0.371480,Aviation,1.037800
133,2025-11-18 16:00:00,6,11.0,2655.0,0.368515,1219.0,493.0,0.404430,Aviation,1.097460
134,2025-11-18 18:00:00,6,11.0,1191.5,0.344096,569.0,239.0,0.420035,Aviation,1.220693
135,2025-11-18 18:00:00,6,100.0,59.0,0.745891,14.0,13.0,0.928571,Aviation,1.244915

In [5]:
res_df = pd.DataFrame(res).T.reset_index(names=['Intersection','Date','Phase'])

res_df.groupby(['Date','Phase']).sum().AoG_total/res_df.groupby(['Date','Phase']).sum().Arr_total
res_df

,Intersection,Date,Phase,AoG_pct_mean,AoG_G_mean,AoG_total,Arr_total
0,Ward,2025_10_22,2,0.843907,1.383318,4190.0,4965.0
1,Ward,2025_10_22,6,0.566276,0.989545,3627.0,6405.0
2,Ward,2025_11_18,2,0.760081,1.115734,4147.0,5456.0
3,Ward,2025_11_18,6,0.701864,1.001358,4480.0,6383.0
4,KCID,2025_10_22,2,0.752773,1.302033,5158.0,6852.0
5,KCID,2025_10_22,6,0.535226,0.925341,3563.0,6657.0
6,KCID,2025_11_18,2,0.724022,1.067231,5609.0,7747.0
7,KCID,2025_11_18,6,0.581673,0.985454,3942.0,6777.0
8,Smeed,2025_10_22,2,0.674687,1.287676,4150.0,6151.0
9,Smeed,2025_10_22,6,0.477947,1.178355,3706.0,7754.0
10,Smeed,2025_11_18,2,0.644934,1.346212,4392.0,6810.0
11,Smeed,2025_11_18,6,0.476572,1.286540,3865.0,8110.0
12,Aviation,2025_10_22,2,0.605420,1.045009,3351.0,5535.0
13,Aviation,2025_10_22,6,0.484086,1.311309,3194.0,6598.0
14,Aviation,2025_11_18,2,0.587314,1.020822,3639.0,6196.0
15,Aviation,2025_11_18,6,0.379253,0.989606,2497.0,6584.0

In [27]:
res_df.loc[(res_df.Intersection=='Aviation') & (res_df.Phase==6) * (res_df.Date=='2025_10_30'), 'AoG_total'] = 3 * res_df.loc[(res_df.Intersection=='Aviation') & (res_df.Phase==6), 'AoG_total']
res_df.groupby(['Date','Phase']).sum().AoG_total/res_df.groupby(['Date','Phase']).sum().Arr_total

Date        Phase
2025_10_22  2        0.716887
            6        0.513971
2025_10_30  2        0.610512
            6        0.612945
dtype: float64

In [10]:
hourly=False
bin_len='cycle'

if True:    
    df_p = df.loc[(df.Code == 45) | (df.Code == 21)]
    if len(df_p) == 0:
        print(len(df_p))

    df_p.loc[:, 'P_start'] = df_p.loc[df_p.Code == 21].TS_start
    df_gb = df_p.groupby('ID')
    df_p.loc[:, 'P_start'] = df_gb['P_start'].bfill()
    df_unq = df_p.loc[df_p.Code == 45, ['Code', 'ID', 'P_start']].drop_duplicates().index

    if hourly:
        hourly_factor = 60 / bin_len
    else:
        hourly_factor = 1
    
    if bin_len == 'cycle':
        df_p = df_p.loc[df_unq, ['Cycle_start', 'Code', 'ID']].groupby(['Cycle_start','ID']).count().unstack()
        df_p.columns = df_p.columns.droplevel()        
    else:
        # Groupby detector and resample to bins
        df_p = df_p.loc[df_unq,['TS_start','Code','ID']].set_index('TS_start').groupby('ID')
        df_p = df_p.resample(f'{bin_len}T').count()
        df_p = df_p.loc[:, 'Code'].unstack(level='ID')
    
    df_p = df_p.fillna(0).astype('int')

    # Add total column to DataFrame
    df_p.loc[:, 'Total'] = df_p.sum(axis=1)
    df_p.index.name = 'Time'
    df_p.rename(columns=dict([[c, f'Ped {c}'] for c in df_p.columns]), inplace=True)

C:\Users\rhansen\AppData\Local\Temp\ipykernel_67760\2741111003.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_p.loc[:, 'P_start'] = df_p.loc[df_p.Code == 21].TS_start

In [11]:
df_p

ID                       Ped 2  Ped 4  Ped 6  Ped 8  Ped Total
Time
2025-08-11 00:35:43.800      0      1      0      0          1
2025-08-11 04:50:26.900      1      0      0      0          1
2025-08-11 05:12:48.000      1      0      0      0          1
2025-08-11 06:54:14.100      0      0      1      0          1
2025-08-11 06:55:26.900      0      1      0      0          1
...                        ...    ...    ...    ...        ...
2025-09-05 20:27:32.800      0      0      1      1          2
2025-09-05 20:42:16.600      0      0      0      1          1
2025-09-05 20:46:57.900      0      0      0      1          1
2025-09-05 21:58:52.000      0      0      1      0          1
2025-09-05 22:33:29.700      1      0      0      2          3

[1387 rows x 5 columns]

In [ ]:
main_df = df.copy()
detection_df = cfg_dict['Arrivals'].copy()

# We are going to change count detectors to be presence. Change this function to either use only code 81 or use both 81 and 82 (but only when both are during red)

def process_dataframe(main_df: pd.DataFrame, detection_df: pd.DataFrame) -> pd.DataFrame:
    # Extract only even-numbered phase columns early
    phase_columns = [col for col in main_df.columns if col.startswith('Ph ') and 'Status' in col]
    even_phases = {int(col.split()[1]) for col in phase_columns if int(col.split()[1]) % 2 == 0}
    
    # Keep only relevant columns in main dataframe
    main_df = main_df[['TS_start', 'Cycle_start', 'Code', 'ID', 't_cs', 'Duration'] + 
                      [f'Ph {phase} Status' for phase in even_phases]]
    
    # Filter main dataframe for relevant codes
    main_df = main_df[main_df['Code'].isin([82, 10])].copy()
    
    # Extract only even-numbered phase stop bar columns in detection dataframe
    stop_bar_columns = [col for col in detection_df.columns if col.startswith('P') and 'Stop Bar' in col]
    even_stop_bars = {int(col[1:].split()[0]) for col in stop_bar_columns if int(col[1:].split()[0]) % 2 == 0}
    even_phases &= even_stop_bars
    
    detection_df = detection_df[[f'P{phase} Stop Bar' for phase in even_phases]]
    
    # Convert detection dataframe stop bars to lists of integers and map detectors to phases
    detector_phase_map = {}
    for phase in even_phases:
        col_name = f'P{phase} Stop Bar'
        detection_df[col_name] = detection_df[col_name].astype(str).apply(lambda x: [int(i) for i in x.split(',') if i.isdigit()])
        for det in detection_df[col_name].explode().dropna().astype(int):
            detector_phase_map[det] = phase
    
    # Filter main dataframe to only include relevant detectors and even phases
    main_df = main_df[((main_df['Code'] == 10) & (main_df['ID'] % 2 == 0)) | ((main_df['Code'] == 82) & (main_df['ID'].isin(detector_phase_map)))]
    
    # Merge main and detection dataframes to align timestamps
    merged_df = main_df.merge(detection_df, left_on='TS_start', right_index=True, how='outer').sort_values('TS_start')
    
    # Forward fill detector columns and remove rows added from detection_df
    for phase in even_phases:
        col_name = f'P{phase} Stop Bar'
        merged_df[col_name] = merged_df[col_name].ffill()
    merged_df = merged_df[~merged_df['Code'].isna()]
    
    # Convert Code back to integer
    merged_df['Code'] = merged_df['Code'].astype(int)
    
    # Split data into phase events (Code==10) and detector events (Code==82)
    phase_events = merged_df[merged_df['Code'] == 10].copy()
    detector_events = merged_df[merged_df['Code'] == 82].copy()
    
    # Rename ID to Phase in phase_events for merging
    phase_events = phase_events.rename(columns={'ID': 'Phase'})
    phase_events['TS_red'] = phase_events['TS_start']
    
    # Assign corresponding phase to each detector event
    detector_events['Phase'] = detector_events['ID'].map(detector_phase_map)
    
    # Drop detection event rows where the corresponding phase status is not 'R' or 'Rc'
    for phase in even_phases:
        phase_status_col = f'Ph {phase} Status'
        detector_events = detector_events[~((detector_events['Phase'] == phase) & ~detector_events[phase_status_col].isin(['R', 'Rc']))]
    
    # Merge phase events with detector events on Phase using an outer join to keep times aligned
    merged_events = detector_events.merge(phase_events[['TS_start', 'Phase', 'TS_red']], 
                                          on=['TS_start','Phase'], 
                                          how='outer', 
                                          suffixes=('', '_red'))
    
    # Sort and forward-fill TS_red within each phase group
    merged_events = merged_events.sort_values(['Phase', 'TS_start'])
    merged_events['TS_red'] = merged_events.groupby('Phase')['TS_red'].ffill()
    
    # Compute time difference (t_r) between detector event and preceding phase red event
    merged_events['t_r'] = (merged_events['TS_start'] - merged_events['TS_red']).dt.total_seconds()
    
    # Select relevant columns and return final dataframe
    result_df = merged_events[['TS_start', 't_r', 'ID', 'Phase', 'Duration']]

    return result_df.dropna()

In [5]:
plot_coord(df, det_srs, './',[],'blah')

c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])
c:\Users\rhansen\OneDrive - Idaho Transportation Department\Documents\Python\SPMs\spmfunctions\plotting.py:171: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_ring = pd.concat([df_ring, pd.DataFrame(srs).T])

In [9]:
cfg_dict['Ring-Barrier']

               R1       R2    B
1/1/2020  1,2|3,4  5,6|7,8  NaN