**Import Dependencies**

In [1]:
import pandas as pd
import os
import datetime as dt
#from sklearn.linear_model import LinearRegression
import spmfunctions.spmfunctions as spm

**INRIX Travel Time**

In [7]:
intersections=['Chinden',#'Colchester',
               'Fairview','Franklin',
               'HobbleCreek',#'I84EB','I84WB','IslandWoods','McMillan','Pine','RiverValley',
               'StLuke','Ustick',
               'Riverside','Wainwright']

atr_key={'Riverside':{4:('270','Negative'),8:('270','Positive')},
     'Chinden':{2:('337','Negative'),4:('330','Negative'),6:('337','Positive'),8:('330','Positive')},
     'HobbleCreek':{4:('330','Negative'),8:('330','Positive')}}
atr_key={}

b_l=60
wtf=None #'xl','csv'
xl_mode='w' #write='w', append='a'
sfx='_4-12'
phases=[2,4,6,8]

resdict={}
for intx in intersections:    
    print('Starting {} {}'.format(intx,dt.datetime.now()))
    if intx in list(atr_key.keys()):
        atr=atr_key[intx]
    else:
        atr=None
    
    try:
        rd=spm.combine_aog_sf_tt(intx,bin_len=b_l,sfx=sfx,write_to_file=wtf,xl_mode=xl_mode,atr=atr)
        resdict[intx]=rd
    except:
        print('Error processing {}'.format(intx))
    print('Finished {} {}'.format(intx,dt.datetime.now()))

Starting Chinden 2023-12-06 23:27:32.307770
Finished Chinden 2023-12-06 23:28:44.991042
Starting Fairview 2023-12-06 23:28:44.991355
Finished Fairview 2023-12-06 23:29:59.518350
Starting Franklin 2023-12-06 23:29:59.518350
Finished Franklin 2023-12-06 23:31:09.669893
Starting HobbleCreek 2023-12-06 23:31:09.669893
Finished HobbleCreek 2023-12-06 23:32:19.297948
Starting StLuke 2023-12-06 23:32:19.297948
Finished StLuke 2023-12-06 23:33:17.314070
Starting Ustick 2023-12-06 23:33:17.314070
Finished Ustick 2023-12-06 23:34:14.904706
Starting Riverside 2023-12-06 23:34:14.904706
Finished Riverside 2023-12-06 23:35:09.758336
Starting Wainwright 2023-12-06 23:35:09.758336
Finished Wainwright 2023-12-06 23:36:07.381895

In [8]:
t_ba='7-20-2023'
sfx='_SF_AOG'

anova_rd={}
for intx, r_d in resdict.items():
    #if True:
    try:
        anova_rd[intx]=spm.tt_vol_anova(r_d, t_ba,atr_vol=True)
        anova_rd[intx].to_csv('./ACHD_Eagle-{}/{}_ANOVA{}.csv'.format(intx,intx,sfx),index=False)
    except:
        print('Error processing {}'.format(intx))

C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\regression\linear_model.py:1752: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\regression\linear_model.py:1841: RuntimeWarning: invalid value encountered in double_scalars
  return self.mse_model/self.mse_resid
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\regression\linear_model.py:940: RuntimeWarning: divide by zero encountered in log
  llf = -nobs2*np.log(2*np.pi) - nobs2*np.log(ssr / nobs) - nobs2
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\stats\stattools.py:50: RuntimeWarning: invalid value encountered in double_scalars
  dw = np.sum(diff_resids**2, axis=axis) / np.sum(resids**2, axis=axis)
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\regression\linear_model.py:1752: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\regression\linear_model.py:1841: RuntimeWarning: invalid value encountered in double_scalars
  return self.mse_model/self.mse_resid
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\regression\linear_model.py:940: RuntimeWarning: divide by zero encountered in log
  llf = -nobs2*np.log(2*np.pi) - nobs2*np.log(ssr / nobs) - nobs2
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\stats\stattools.py:50: RuntimeWarning: invalid value encountered in double_scalars
  dw = np.sum(diff_resids**2, axis=axis) / np.sum(resids**2, axis=axis)
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\regression\linear_model.py:1752: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\regression\linear_model.py:1841: RuntimeWarning: invalid value encountered in double_scalars
  return self.mse_model/self.mse_resid
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\regression\linear_model.py:940: RuntimeWarning: divide by zero encountered in log
  llf = -nobs2*np.log(2*np.pi) - nobs2*np.log(ssr / nobs) - nobs2
C:\Users\dadams\AppData\Local\Programs\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\statsmodels\stats\stattools.py:50: RuntimeWarning: invalid value encountered in double_scalars
  dw = np.sum(diff_resids**2, axis=axis) / np.sum(resids**2, axis=axis)

Error processing Wainwright

In [9]:
resdf=pd.DataFrame()

for intx in intersections:
    csvs=os.listdir('./ACHD_Eagle-{}'.format(intx))
    for f in [x for x in csvs if 'ANOVA_SF_AOG' in x]:
        if 'single_adv' in f:
            det=2
        else:
            det=1
        df=pd.read_csv('./ACHD_Eagle-{}/{}'.format(intx,f))
        df.loc[:,'Int']=intx
        df.loc[:,'AdvDet']=det
        resdf=pd.concat([resdf,df])

In [11]:
resdf.to_csv('ANOVA_results.csv')

In [4]:
anova_rd['Chinden']

,Coord_plan,Phase,TT_B count,TT_B mean,TT_B std,TT_B min,TT_B 25%,TT_B 50%,TT_B 75%,TT_B max,...,Vol_A 75%,Vol_A max,Delta_50%Vol,RSQ,Vol coef,Vol P>|t|,BA coef,BA P>|t|,BA:Vol coef,BA:Vol P>|t|
0,1 TueWedThu,2,188.0,1.007872,0.077830,0.83,0.9500,1.00,1.0700,1.27,...,1443.25,1575.0,-0.002172,0.260,0.000100,0.000,0.0374,0.220,-0.000057,0.016
1,1 TueWedThu,4,188.0,1.106117,0.167186,0.83,0.9700,1.12,1.2000,2.00,...,930.75,1029.0,0.042964,0.596,0.000500,0.000,0.0217,0.548,-0.000061,0.184
2,1 TueWedThu,6,188.0,1.194415,0.285583,0.85,1.0200,1.17,1.3000,3.78,...,1327.25,1463.0,0.030328,0.397,0.000400,0.000,-0.5747,0.000,0.000700,0.000
3,1 TueWedThu,8,188.0,0.644681,0.152965,0.38,0.5300,0.60,0.7225,1.12,...,1608.75,1726.0,0.117671,0.086,0.000100,0.000,-0.0225,0.714,-0.000011,0.819
4,2 TueWedThu,2,329.0,1.163465,0.255756,0.92,1.0300,1.08,1.1500,2.55,...,1462.00,1629.0,-0.019377,0.044,0.000065,0.688,1.9903,0.000,-0.001400,0.000
5,2 TueWedThu,4,329.0,1.641094,0.461250,0.97,1.2800,1.47,2.0000,3.15,...,1192.00,1573.0,-0.010840,0.473,0.001600,0.000,0.0032,0.984,-0.000200,0.243
6,2 TueWedThu,6,329.0,1.130729,0.099973,0.88,1.0700,1.12,1.1700,2.00,...,1528.00,1668.0,0.004841,0.022,0.000200,0.001,0.1962,0.074,-0.000100,0.087
7,2 TueWedThu,8,329.0,0.685319,0.122537,0.43,0.6000,0.67,0.7700,1.12,...,1103.00,1405.0,0.008704,0.269,0.000600,0.000,0.0197,0.819,-0.000089,0.271
8,4 Sat,2,176.0,1.028807,0.075723,0.87,0.9800,1.02,1.0700,1.33,...,1429.00,1598.0,-0.011769,0.389,0.000300,0.000,0.1370,0.003,-0.000100,0.000
9,4 Sat,4,176.0,1.546591,0.648995,0.92,1.0700,1.22,1.7975,3.40,...,961.50,1191.0,-0.078864,0.510,0.002700,0.000,0.7239,0.002,-0.001000,0.000
10,4 Sat,6,176.0,1.029091,0.071684,0.83,0.9800,1.03,1.0700,1.42,...,1466.00,1563.0,-0.009273,0.299,0.000200,0.000,-0.0862,0.063,0.000055,0.120
11,4 Sat,8,176.0,0.554375,0.050897,0.43,0.5275,0.55,0.5800,0.87,...,944.00,1251.0,-0.053409,0.080,0.000100,0.000,0.0578,0.042,-0.000055,0.098
12,"4,6 Sun",2,224.0,0.922411,0.057656,0.77,0.8800,0.92,0.9700,1.10,...,1241.25,1447.0,0.029341,0.334,0.000100,0.000,0.0029,0.862,-0.000003,0.844
13,"4,6 Sun",4,206.0,1.033592,0.173699,0.83,0.9300,1.00,1.0800,2.23,...,788.00,994.0,0.004373,0.335,0.000500,0.000,0.0781,0.089,-0.000100,0.035
14,"4,6 Sun",6,224.0,0.974241,0.121808,0.82,0.9275,0.97,1.0000,2.30,...,1215.50,1471.0,0.018965,0.182,0.000200,0.000,0.0377,0.181,-0.000043,0.130
15,"4,6 Sun",8,207.0,0.575990,0.073669,0.38,0.5300,0.57,0.6200,1.02,...,749.25,1007.0,-0.020015,0.390,0.000200,0.000,-0.0065,0.754,-0.000052,0.107
16,6 Sat,2,47.0,0.922766,0.053108,0.80,0.8900,0.92,0.9600,1.03,...,720.25,863.0,-0.280392,0.318,0.000100,0.000,0.0684,0.070,-0.000100,0.043
17,6 Sat,4,45.0,0.942667,0.085610,0.80,0.8800,0.93,0.9800,1.18,...,652.75,757.0,-0.070956,0.605,0.000400,0.000,0.0226,0.544,-0.000100,0.067
18,6 Sat,6,48.0,0.938333,0.068644,0.80,0.8950,0.95,0.9700,1.17,...,862.50,1053.0,-0.141427,0.429,0.000200,0.000,0.0669,0.166,-0.000100,0.034
19,6 Sat,8,47.0,0.538298,0.049752,0.40,0.5100,0.55,0.5800,0.62,...,577.25,742.0,-0.308007,0.306,0.000100,0.000,-0.0462,0.270,0.000067,0.401

**Data Exploration**

In [ ]:
from statsmodels.stats.api import anova_lm
from statsmodels.formula.api import ols

In [257]:
moe='SF' #'SF' or 'AoG'

df=df_b

ix_lm=ols('TT ~ {} + {}_pct + {} * {}_pct'.format(drct,moe,drct,moe),df).fit()
ix_sum=ix_lm.summary()
t1=pd.read_html(ix_sum.tables[1].as_html(), header=0, index_col=0)[0]
rsq=float(ix_sum.tables[0][0][3].data)
print(rsq)
print(t1)

0.713
               coef   std err       t  P>|t|  [0.025  0.975]
Intercept  0.591500  0.026000  22.962  0.000   0.541   0.642
NB         0.000400  0.000037   9.764  0.000   0.000   0.000
SF_pct    -0.004300  0.144000  -0.030  0.976  -0.288   0.280
NB:SF_pct  0.000088  0.000000   0.653  0.515  -0.000   0.000

In [258]:
moe='SF' #'SF' or 'AoG'

df=df_a

ix_lm=ols('TT ~ {} + {}_pct + {} * {}_pct'.format(drct,moe,drct,moe),df).fit()
ix_sum=ix_lm.summary()
rsq=ix_sum.tables[0][0][3].data
print(rsq, ix_sum.tables[1])

   0.524 ==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5577      0.030     18.479      0.000       0.498       0.617
NB             0.0004   4.28e-05      8.598      0.000       0.000       0.000
SF_pct         0.4505      0.181      2.485      0.014       0.093       0.808
NB:SF_pct     -0.0004      0.000     -2.047      0.042      -0.001   -1.48e-05
==============================================================================

In [6]:
rd.keys()

dict_keys(['Wainwright_ph4_tt', 'Wainwright_ph8_tt'])

In [2]:
rd={}
for k in ['Wainwright_ph4_tt', 'Wainwright_ph8_tt']:
    rd[k]=pd.read_pickle('{}.pk'.format(k))

In [13]:
dfph4=rd['Wainwright_ph4_tt'].dropna()
dfph8=rd['Wainwright_ph8_tt'].dropna()

In [5]:
dfph4.head()

,Time,Coord_plan,G,G_pct,Total,AoG,AoG_pct,G_occ,GOR,R_occ,ROR,Split Fail,SF_pct,SBL,SBT,SBR,Travel Time(Minutes)
0,2023-04-01 00:00:00,254.0,4039.8,0.976505,30.0,28.0,0.933333,192.0,0.091524,0.0,0.00,0.0,0.0,2,54,0,0.55
1,2023-04-01 01:00:00,254.0,2869.3,0.992940,14.0,14.0,1.000000,112.8,0.070571,5.0,1.00,0.0,0.0,0,50,0,0.62
2,2023-04-01 02:00:00,254.0,6624.9,0.997110,31.0,31.0,1.000000,198.0,0.068891,0.0,0.00,0.0,0.0,0,43,1,0.53
3,2023-04-01 04:00:00,254.0,4698.2,0.988720,27.0,27.0,1.000000,312.0,0.043304,3.4,0.34,0.0,0.0,0,43,1,0.55
4,2023-04-01 05:00:00,254.0,2210.9,0.970331,13.0,13.0,1.000000,566.9,0.093371,0.0,0.00,0.0,0.0,2,88,1,0.53