In [1]:
import pandas as pd
import os
import datetime as dt
import spmfunctions.spmfunctions as spm
import warnings
warnings.filterwarnings('ignore')

In [15]:
pd.set_option('display.max_rows', 500)

In [21]:
intx='ACHD_Chinden-SH16'
sfx='2405'

df_raw=pd.read_pickle('./{}/df_raw/df_raw{}.pk'.format(intx,sfx))

In [31]:
df_comb=spm.comb_gyr_det(df_raw)

In [62]:
ph=4#8
dets=[59,60,61]#[51,52,53]

df_dt=df_comb[((df_comb.ID.isin(dets))&(df_comb.Code.isin([82])))|((df_comb.Code==1)&(df_comb.ID==ph))]
df_dt

,TS_start,Code,ID,Cycle_start,Coord_plan,TS_end,t_cs,t_ce,Duration,Det_Status,Split,Ph_Status,Cycle_len
16,2023-11-30 00:02:27.900,82,59,2023-11-30 00:02:18.300,0.0,2023-11-30 00:02:28.400,9.6,10.1,0.5,On,NaN,NaN,231.5
27,2023-11-30 00:02:33.300,1,4,2023-11-30 00:02:18.300,0.0,2023-11-30 00:06:04.300,15.0,226.0,211.0,NaN,216.0,G,231.5
63,2023-11-30 00:06:24.800,1,4,2023-11-30 00:06:09.800,0.0,2023-11-30 00:07:02.300,15.0,52.5,37.5,NaN,42.5,G,57.5
89,2023-11-30 00:07:22.300,1,4,2023-11-30 00:07:07.300,0.0,2023-11-30 00:07:36.200,15.0,28.9,13.9,NaN,18.9,G,1781.0
103,2023-11-30 00:07:51.600,1,4,2023-11-30 00:07:07.300,0.0,2023-11-30 00:14:09.900,44.3,422.6,378.3,NaN,383.3,G,1781.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
477981,2023-12-05 10:44:38.500,82,59,2023-12-05 10:43:54.600,0.0,2023-12-05 10:44:39.700,43.9,45.1,1.2,On,NaN,NaN,45.2
477988,2023-12-05 10:44:45.500,82,61,2023-12-05 10:44:39.800,0.0,2023-12-05 10:44:45.700,5.7,5.9,0.2,On,NaN,NaN,NaN
477991,2023-12-05 10:44:48.000,82,61,2023-12-05 10:44:39.800,0.0,2023-12-05 10:44:48.300,8.2,8.5,0.3,On,NaN,NaN,NaN
477992,2023-12-05 10:44:48.500,82,60,2023-12-05 10:44:39.800,0.0,2023-12-05 10:44:48.900,8.7,9.1,0.4,On,NaN,NaN,NaN
478000,2023-12-05 10:44:51.600,82,60,2023-12-05 10:44:39.800,0.0,2023-12-05 10:44:52.100,11.8,12.3,0.5,On,NaN,NaN,NaN

In [91]:
df_res=pd.DataFrame()

for t, gb in df_dt.groupby('Cycle_start'):
    
    gb=gb.sort_values(['Code','TS_start']).reset_index(drop=True)
    if gb.iloc[0,1]!=1:
        continue
    gb=gb[(gb.Code==82)]
    gb.loc[:,'Delta_Time']=gb.t_cs-gb.t_cs.shift()
    gb=gb[(gb.ID==gb.ID.shift()-1)]
    
    df_res=pd.concat([df_res,gb])

KeyboardInterrupt:

In [92]:
df_res

,TS_start,Code,ID,Cycle_start,Coord_plan,TS_end,t_cs,t_ce,Duration,Det_Status,Split,Ph_Status,Cycle_len,Delta_Time
6,2023-11-30 00:10:27.400,82,60,2023-11-30 00:07:07.300,0.0,2023-11-30 00:10:27.600,200.1,200.3,0.2,On,NaN,NaN,1781.0,2.2
7,2023-11-30 00:10:28.800,82,59,2023-11-30 00:07:07.300,0.0,2023-11-30 00:10:30.200,201.5,202.9,1.4,On,NaN,NaN,1781.0,1.4
9,2023-11-30 00:11:59.200,82,60,2023-11-30 00:07:07.300,0.0,2023-11-30 00:11:59.400,291.9,292.1,0.2,On,NaN,NaN,1781.0,2.2
10,2023-11-30 00:12:00.700,82,59,2023-11-30 00:07:07.300,0.0,2023-11-30 00:12:02.100,293.4,294.8,1.4,On,NaN,NaN,1781.0,1.5
12,2023-11-30 00:12:35.600,82,60,2023-11-30 00:07:07.300,0.0,2023-11-30 00:12:35.800,328.3,328.5,0.2,On,NaN,NaN,1781.0,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,2023-12-05 09:16:45.500,82,59,2023-12-05 09:16:10.900,0.0,2023-12-05 09:16:46.800,34.6,35.9,1.3,On,NaN,NaN,46.4,1.4
2,2023-12-05 09:17:05.000,82,60,2023-12-05 09:16:57.300,0.0,2023-12-05 09:17:05.400,7.7,8.1,0.4,On,NaN,NaN,40.4,3.7
3,2023-12-05 09:17:08.200,82,59,2023-12-05 09:16:57.300,0.0,2023-12-05 09:17:17.200,10.9,19.9,9.0,On,NaN,NaN,40.4,3.2
5,2023-12-05 09:17:16.400,82,60,2023-12-05 09:16:57.300,0.0,2023-12-05 09:17:16.700,19.1,19.4,0.3,On,NaN,NaN,40.4,3.3
6,2023-12-05 09:17:18.400,82,59,2023-12-05 09:16:57.300,0.0,2023-12-05 09:17:20.300,21.1,23.0,1.9,On,NaN,NaN,40.4,2.0

In [95]:
df_res[df_res.ID.isin([59,60])].to_csv('det5960_time.csv')

In [94]:
df_res.groupby('ID')['Delta_Time'].describe()

      count      mean       std  min  25%  50%  75%   max
ID
59  13808.0  1.748233  1.251216  0.0  1.3  1.5  2.0  39.0
60  18257.0  2.420945  2.318163  0.0  1.6  2.3  3.0  67.1

478769

In [29]:
# snippet to help determine which detectors call which phases

# subset
df_ra = df_raw.iloc[0:int(len(df_raw)/5),:].copy()

# phase call & detector call
df_st = df_ra[df_ra.Code.isin([43,82])].groupby('TS_start').apply(lambda x: str(x.Code.values)+', '+str(x.ID.values))

In [23]:
df_st[df_st.apply(lambda x: x.startswith('[43 82]'))].value_counts()

[43 82], [ 1 17]    1281
[43 82], [ 4 26]    1150
[43 82], [ 7 25]     924
[43 82], [ 2 18]       5
[43 82], [ 2 24]       4
[43 82], [ 6 18]       4
[43 82], [ 6 24]       2
[43 82], [ 1 18]       2
[43 82], [ 6 17]       1
dtype: int64

In [24]:
# snippet to see which detectors are used

df_raw[df_raw.Code.isin([82])].ID.value_counts()

18    186092
24    122875
22     56063
17     55158
26     47566
25     27185
28       268
32       268
31       268
30       268
29       268
27       268
23       268
21       268
20       268
19       268
9        107
10       107
13       107
14       107
Name: ID, dtype: int64