In [4]:
os.chdir('..')
import pandas as pd
import os
import datetime as dt
from spmfunctions import *
import warnings
warnings.filterwarnings('ignore')

In [5]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [7]:
os.chdir('..')

In [45]:
intersections = ['ACHD_Eagle-Ustick','ACHD_Eagle-Chinden','ACHD_Eagle-McMillan','ACHD_Eagle-Franklin','ACHD_Eagle-Fairview']
intersections = ['SH-55 & Banks-Lowman']
ph_dets = [(1,[17,18]),(2,[27,28]),(3,[33,34]),(4,[43,44]),(5,[25,26]),(6,[19,20]),(7,[41,42]),(8,[35,36])]
ph_dets = [(4,[43,44]),(8,[35,36])]
ph_dets = [(6,[33])]
f_dfr = 'df_raw_2025_08_17_0000-2025_08_17_2400.pkl'
sfx='_250817_1pct_6'
plans=[1,2,3,4,5,13]
plans=[1]
pct=1

for intx in intersections:
    df_raw=pd.read_pickle(f'./intersections/{intx}/data/dataframes/{f_dfr}')
    df=df_raw[df_raw.Coord_plan.isin(plans)].copy()
    for ph, dets in ph_dets:
        df_res,res_dict=flow_rate(df, ph, dets)
        df_pct,df_rate,df_inst=rate_dfs(df_res,res_dict,pct)
        plot_flow_plotly(df_rate,df_inst,f'./intersections/{intx}/Plotting/{intx}_Ph{ph}_flow{sfx}.html',intx,ph,rolling=5)

In [41]:
df_rate

,33 2025-08-03 11:13:57.100000,33 2025-08-03 11:23:35.700000,33 2025-08-03 12:25:48.200000,33 2025-08-03 12:54:43.600000,33 2025-08-03 13:13:59.300000,33 2025-08-03 13:26:28.700000,33 2025-08-03 17:36:30.700000,33 Mean,Mean
10.5,258.992806,483.221477,NaN,NaN,NaN,NaN,NaN,NaN,371.107141
13.0,441.717791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,517.274021
16.0,568.421053,702.439024,NaN,NaN,NaN,NaN,NaN,NaN,635.430039
19.0,654.545455,NaN,NaN,607.594937,553.846154,666.666667,NaN,646.202440,646.202440
21.0,740.740741,NaN,NaN,NaN,NaN,NaN,NaN,689.423949,689.423949
...,...,...,...,...,...,...,...,...,...
95.5,NaN,NaN,NaN,NaN,NaN,NaN,1058.823529,NaN,1185.874432
106.5,NaN,NaN,NaN,NaN,NaN,NaN,1083.185841,NaN,1189.354762
111.0,NaN,NaN,NaN,NaN,NaN,NaN,1103.918228,NaN,1192.316531
113.5,NaN,NaN,NaN,NaN,NaN,NaN,1109.075770,NaN,1193.053323
117.5,NaN,NaN,NaN,NaN,NaN,NaN,1129.525342,NaN,1195.974690

In [59]:
plot_flow_plotly(df_rate,df_inst,f'./{intx}/Plotting/{intx}_Ph{ph}_flow{sfx}.html',intx,ph,rolling=1)

In [36]:
%store -r df_ct

In [45]:
df_merge=pd.merge(df_pct,df_ct,how='outer',left_index=True,right_index=True).sort_index()
df_merge.loc[:,'D_shift']=df_merge.Det.shift(-1)
df_merge=df_merge[(~df_merge.D_shift.isna())&(~df_merge.TEV.isna())]
df_merge.describe()

,Det,Coord_plan,t_max,max_rate,cumulative,split,lost,Q,Det 1,Det 2,...,SBL,SBT,SBR,TEV,Ped 2,Ped 4,Ped 6,Ped 8,Ped Total,D_shift
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,12.000000,...,12.000000,12.000000,12.000000,12.00000,3.000000,3.0,3.000000,3.000000,3.000000,12.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.833333,...,19.916667,66.333333,12.666667,276.00000,0.333333,0.0,0.333333,0.666667,1.333333,43.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.898963,...,3.872005,2.994945,3.984820,15.65538,0.577350,0.0,0.577350,0.577350,0.577350,0.0
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.000000,...,15.000000,63.000000,6.000000,258.00000,0.000000,0.0,0.000000,0.000000,1.000000,43.0
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.000000,...,17.750000,64.000000,9.750000,266.50000,0.000000,0.0,0.000000,0.500000,1.000000,43.0
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.500000,...,19.500000,65.000000,13.000000,273.50000,0.000000,0.0,0.000000,1.000000,1.000000,43.0
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.250000,...,21.500000,67.500000,16.000000,279.25000,0.500000,0.0,0.500000,1.000000,1.500000,43.0
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,7.000000,...,29.000000,73.000000,19.000000,308.00000,1.000000,0.0,1.000000,1.000000,2.000000,43.0

In [561]:
df_res.loc[pd.to_datetime(df_rate.columns.map(lambda x: (x[3:])),errors='coerce').dropna(),:].lost.describe()

count    56.000000
mean      2.914286
std       1.791640
min       0.000000
25%       2.000000
50%       2.800000
75%       3.700000
max       8.400000
Name: lost, dtype: float64

In [540]:
keys=[k for k in df_rate.columns if k[3:]==df_rate.columns[4][3:]]
res_dict[keys[1]]

,TS_start,Code,ID,Cycle_start,Coord_plan,cumulative,t,cumulative_rate,headway,inst_rate
0,2023-09-12 16:38:52.000,81,44,2023-09-12 16:37:42,13.0,1,7.6,428.571429,1.6,2250.000000
1,2023-09-12 16:38:53.600,81,44,2023-09-12 16:37:42,13.0,2,9.2,720.000000,2.0,1800.000000
2,2023-09-12 16:38:55.600,81,44,2023-09-12 16:37:42,13.0,3,11.2,900.000000,10.8,333.333333
3,2023-09-12 16:39:06.400,81,44,2023-09-12 16:37:42,13.0,4,22.0,631.578947,3.2,1125.000000
4,2023-09-12 16:39:09.600,81,44,2023-09-12 16:37:42,13.0,5,25.2,692.307692,2.4,1500.000000
5,2023-09-12 16:39:12.000,81,44,2023-09-12 16:37:42,13.0,6,27.6,760.563380,1.2,3000.000000
6,2023-09-12 16:39:13.200,81,44,2023-09-12 16:37:42,13.0,7,28.8,851.351351,2.0,1800.000000
7,2023-09-12 16:39:15.200,81,44,2023-09-12 16:37:42,13.0,8,30.8,911.392405,6.8,529.411765
8,2023-09-12 16:39:22.000,81,44,2023-09-12 16:37:42,13.0,9,37.6,843.750000,4.0,900.000000
9,2023-09-12 16:39:26.000,81,44,2023-09-12 16:37:42,13.0,10,41.6,849.056604,1.2,3000.000000
10,2023-09-12 16:39:27.200,81,44,2023-09-12 16:37:42,13.0,11,42.8,908.256881,13.6,264.705882
11,2023-09-12 16:39:40.800,81,44,2023-09-12 16:37:42,13.0,12,56.4,755.244755,4.4,818.181818
12,2023-09-12 16:39:45.200,81,44,2023-09-12 16:37:42,13.0,13,60.8,759.740260,3.6,1000.000000
13,2023-09-12 16:39:48.800,81,44,2023-09-12 16:37:42,13.0,14,64.4,773.006135,1.2,3000.000000
14,2023-09-12 16:39:50.000,81,44,2023-09-12 16:37:42,13.0,15,65.6,813.253012,5.2,692.307692
15,2023-09-12 16:39:55.200,81,44,2023-09-12 16:37:42,13.0,16,70.8,804.469274,4.0,900.000000
16,2023-09-12 16:39:59.200,81,44,2023-09-12 16:37:42,13.0,17,74.8,809.523810,16.1,223.602484
17,2023-09-12 16:40:15.300,81,44,2023-09-12 16:37:42,13.0,18,90.9,706.652126,7.6,473.684211
18,2023-09-12 16:40:22.900,81,44,2023-09-12 16:37:42,13.0,19,98.5,688.821752,4.8,750.000000
19,2023-09-12 16:40:27.700,81,44,2023-09-12 16:37:42,13.0,20,103.3,691.642651,2.4,1500.000000
20,2023-09-12 16:40:30.100,81,44,2023-09-12 16:37:42,13.0,21,105.7,709.859155,1.2,3000.000000
21,2023-09-12 16:40:31.300,81,44,2023-09-12 16:37:42,13.0,22,106.9,735.376045,NaN,NaN

In [7]:
intx='ACHD_Eagle-Ustick'#'US-20-26&Middleton'#'SH-44&Hartley'#
f_dfr='df_raw_2309.pk'

df_raw=pd.read_pickle(f'./{intx}/df_raw/{f_dfr}')

In [8]:
ph,dets=(2,[10])#(6,[18])#(8,[8])#(4,[20])#Middleton
ph,dets=(4,[14])#(8,[10])#Ustick
ph,dets=(4,[15])#(8,[10])#Chinden
ph,dets=(7,[41,42])#(2,[27/28])#(4,[43/44])#(6,[19/20])(8,[35/36])#Chinden/Ustick count
plans=[13]

if plans:
    df=df_raw[df_raw.Coord_plan.isin(plans)]
else:
    df=df_raw.copy()

rycmax=10

In [583]:
plot_flow_plotly(df_rate,df_inst,f'./{intx}/Plotting/{intx}_Ph{ph}_flow_gptnew.html',f'{intx}',ph)

In [ ]:
# to join to sf data, create time column in sf dataframe that is df_sf.Time-pd.to_timedelta(df_sf.G,'S')

In [11]:
def rate_dfs(df_res, res_dict,pct=1):

    df_res.index.name='TS'
    #df_mode=df_res[(df_res.g>0.9*df_res.g.mode()[0])&(df_res.g<1.1*df_res.g.mode()[0])]
    df_mode=df_res[(df_res.split>0.9*df_res.split.mode()[0])&(df_res.split<1.1*df_res.split.mode()[0])]
    q_srs=df_mode.groupby('TS').Q.sum()
    df_pct=df_mode.loc[q_srs[q_srs>=q_srs.quantile((100-pct)/100)].index]

    df_rate=pd.DataFrame()
    df_inst=pd.DataFrame()
    for det in dets:
        df_det=pd.DataFrame()
        df_det_i=pd.DataFrame()
        for key in df_pct.index.unique():
            df=res_dict[f'{det} {key}'][res_dict[f'{det} {key}'].ID==det]
            df.loc[:,'t']=df.t.apply(lambda x: round(2*x,0)/2)
            df_det=pd.concat([df_det,df.set_index('t').cumulative_rate.rename(f'{det} {key}')],axis=1)
            df_det_i=pd.concat([df_det_i,df.set_index('t').inst_rate.rename(f'{det} {key}')],axis=1)
        df_det.reindex([x/2 for x in list(range(int(2*df_det.index.min()),int(2*df_det.index.max())+1))])
        df_det.loc[:,f'{det} Mean']=df_det.where(df_det.bfill().isna(),df_det.interpolate()).dropna(thresh=5).mean(axis=1)
        df_rate=pd.concat([df_rate,df_det],axis=1)
        df_det_i.reindex([x/2 for x in list(range(int(2*df_det_i.index.min()),int(2*df_det_i.index.max())+1))])
        df_det_i.loc[:,f'{det} Mean']=df_det_i.where(df_det_i.bfill().isna(),df_det_i.interpolate()).dropna(thresh=5).mean(axis=1)
        df_inst=pd.concat([df_inst,df_det_i],axis=1)
    #df_rate = df_rate.where(df_rate.bfill().isna(), df_rate.ffill().fillna(0))
    #df_rate = df_rate.where(df_rate.bfill().isna(), df_rate.interpolate())
    cols=[c for c in df_rate.columns if 'Mean' not in c]
    df_rate.loc[:,'Mean']=df_rate.loc[:,cols].interpolate().mean(axis=1)
    df_inst.loc[:,'Mean']=df_inst.loc[:,cols].interpolate().mean(axis=1)
    
    return df_pct, df_rate, df_inst



def flow_rate(df,ph,dets,max_lost=10):

    #df_gy=df[(df.ID==ph)&(df.Code.isin([1,8,11]))]
    df_gy=df[(df.ID==ph)&(df.Code.isin([1,11]))]
    df_gy.loc[:,'TS_end']=df_gy.TS_start.shift(-1)
    #df_gy.loc[:,'ryc']=(df_gy.TS_end-df_gy.TS_start).shift(-1).dt.total_seconds()
    df_gy=df_gy.loc[(df_gy.Code==1),['TS_start','TS_end',#'ryc',
                                     'Coord_plan']].dropna()
    #df_gy=df_gy[df_gy.ryc<rycmax]

   
    df_res=pd.DataFrame()
    res_dict={}
            
    for det in dets:
        df_det=df[(df.Code==81)&(df.ID==det)]
        for _,row in df_gy.iterrows():
            srs=pd.Series(index=['Det','Coord_plan','t_max','max_rate','cumulative','split','lost',#'g',
                                 'Q'])
            srs['Det']=det
            df_cyc=filter_date(df_det,row.TS_start,row.TS_end,'TS_start',False)
            if len(df_cyc)==0:
                continue
            
            r_lost=(row.TS_end-df_cyc.TS_start.iloc[-1]).total_seconds()
            if r_lost > max_lost:
                continue
            
            df_cyc.reset_index(inplace=True,drop=True)
            df_cyc.loc[:,'cumulative']=df_cyc.index+1
            df_cyc.loc[:,'t']=(df_cyc.TS_start-row.TS_start).dt.total_seconds()
            df_cyc.loc[:,'cumulative_rate']=(3600*df_cyc.cumulative)/((df_cyc.t+r_lost))
            #df_cyc.loc[:,'cumulative_rate']=(3600*df_cyc.cumulative)/((df_cyc.t+row.ryc))
            
            for _, gb in df_cyc.groupby('ID',as_index=False):
                df_cyc.loc[gb.index,'headway']=(gb.TS_start.shift(-1)-gb.TS_start).dt.total_seconds()
            df_cyc.loc[:,'inst_rate']=3600/df_cyc.headway
            t_max,rate,cumulative=df_cyc[df_cyc.cumulative_rate==df_cyc.cumulative_rate.max()].loc[:,['t','cumulative_rate','cumulative']].values[0]
            #g_len=(row.TS_end-row.TS_start).total_seconds()
            split=(row.TS_end-row.TS_start).total_seconds()
            Q=df_cyc.cumulative.max()
            cp=row.Coord_plan
            srs[['Coord_plan','t_max','max_rate','cumulative','split','lost',#'g',
                 'Q']]=[cp,t_max,rate,cumulative,split,r_lost,#g_len,
                        Q]
            srs.name=row.TS_start
            df_res = pd.concat([df_res, srs.to_frame().T], ignore_index=False)
            res_dict[f'{det} {row.TS_start}']=df_cyc
    
    return df_res,res_dict



def plot_flow_plotly(df_rate, df_inst, save_path, intx, ph, rolling=1):
    fig = make_subplots(rows=1, cols=1, subplot_titles=[f"{intx} Ph{ph} Flow Rate"])
    color={'Mean':'gray'}
    #symbol={}
    colors=['red', 'blue', 'green', 'magenta']
    #symbols=['circle','square','diamond','triangle-up']
    dets = list(set([x.split(' ')[0] for x in df_rate.columns[:-1]]))

    for i, d in enumerate(dets):
        color[d] = colors[i]
        #symbol[d] = symbols[i]

    for c in df_rate.columns:
        df_plt = df_rate.loc[:, c].dropna().sort_index()
        det = c.split(' ')[0]

        if 'Mean' in c:
            fig.add_trace(go.Scatter(
                x=df_plt.index,
                y=df_plt.values,
                mode='lines',
                line=dict(color=color[det]),
                hoverinfo='x+y+text',  # Show x, y, and text (column name)
                text=[f'{c}: {val}' for val in df_plt.values]  # Text to display on hover
            ))
            df_plt2 = df_inst.loc[:, c].sort_index().transform(lambda x: x.rolling(rolling,center=True).mean()).dropna()
            fig.add_trace(go.Scatter(
                x=df_plt2.index,
                y=-df_plt2.values,
                mode='lines',
                line=dict(color=color[det], dash='dash'),
                hoverinfo='x+y+text',  # Show x, y, and text (column name)
                text=[f'{c}: {val}' for val in df_plt2.values]  # Text to display on hover
            ))
        else:
            fig.add_trace(go.Scatter(
                x=df_plt.index,
                y=df_plt.values,
                mode='markers',
                marker=dict(opacity=0.5, color=color[det]),#symbol=symbol[det], 
                hoverinfo='x+y+text',  # Show x, y, and text (column name)
                text=[f'{c}: {val}' for val in df_plt.values]  # Text to display on hover
            ))

    fig.update_layout(
        xaxis=dict(title='Time (s)', type='linear'),
        yaxis=dict(title='Flow Rate (vphpl)', type='linear'),
        showlegend=False
    )

    fig.write_html(save_path)

In [370]:
res_dict[df_100.reset_index().loc[:,'index'].iloc[-5]]

,TS_start,Code,ID,Cycle_start,Coord_plan,cumulative,t,cumulative_rate,headway,inst_rate
0,2023-11-30 11:31:05.900,82,10,2023-11-30 11:30:46,255.0,1,4.0,395.604396,2.8,1285.714286
1,2023-11-30 11:31:08.700,82,10,2023-11-30 11:30:46,255.0,2,6.8,605.042017,2.4,1500.000000
2,2023-11-30 11:31:11.100,82,10,2023-11-30 11:30:46,255.0,3,9.2,755.244755,2.3,1565.217391
3,2023-11-30 11:31:13.400,82,10,2023-11-30 11:30:46,255.0,4,11.5,867.469880,3.0,1200.000000
4,2023-11-30 11:31:16.400,82,10,2023-11-30 11:30:46,255.0,5,14.5,918.367347,3.4,1058.823529
5,2023-11-30 11:31:19.800,82,10,2023-11-30 11:30:46,255.0,6,17.9,939.130435,2.6,1384.615385
6,2023-11-30 11:31:22.400,82,10,2023-11-30 11:30:46,255.0,7,20.5,984.375000,1.6,2250.000000
7,2023-11-30 11:31:24.000,82,10,2023-11-30 11:30:46,255.0,8,22.1,1058.823529,3.1,1161.290323
8,2023-11-30 11:31:27.100,82,10,2023-11-30 11:30:46,255.0,9,25.2,1069.306931,2.3,1565.217391
9,2023-11-30 11:31:29.400,82,10,2023-11-30 11:30:46,255.0,10,27.5,1104.294479,1.9,1894.736842
10,2023-11-30 11:31:31.300,82,10,2023-11-30 11:30:46,255.0,11,29.4,1147.826087,2.4,1500.000000
11,2023-11-30 11:31:33.700,82,10,2023-11-30 11:30:46,255.0,12,31.8,1170.731707,NaN,NaN